@import "_variable";

// article
.breadCrumb {
  > li {
    float: left;
    font-size: 1.4rem;
    & + li {
      margin-left: 32px;
    }
    > a {
      color: $linkColor;
      position: relative;
      &:after {
        content: ">";
        display: block;
        position: absolute;
        top: -5px;
        right: -20px;
        bottom: 0;
      }
    }
  }
}
.article {
  width: 100%;
  max-width: 720px;
  margin: 99px auto;
  padding: 0 20px;
  @media only screen and (max-width: $spSize) {
    margin-top: 72px;
  }
  .article-tags {
    margin-top: 16px;
    @media only screen and (max-width: $spSize) {
      margin-top: 0px;
    }
  }
  .article-date {
    margin-top: 16px;
    @media only screen and (max-width: $spSize) {
      margin-top: 12px;
    }
  }
}
.article-body {
  margin-top: 16px;
  @media only screen and (max-width: $spSize) {
    margin-top: 3px;
  }
}
.article-title {
  margin-top: 24px;
  font-size: 3.2rem;
  @media only screen and (max-width: $spSize) {
    margin-top: 16px;
    font-size: 2.4rem;
  }
}
.article-main-img {
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.markdown-body {
  margin-top: 40px;
  > h2 {
    margin-top: 56px;
    padding: 8px 0 8px 16px;
    font-size: 2.4rem;
    border-left: 4px solid $themeColor;
    @media only screen and (max-width: $spSize) {
      padding: 4px 0 4px 8px;
      font-size: 2rem;
    }
  }
  > h3 {
    margin-top: 24px;
    font-size: 2rem;
    &:before {
      content: "・";
    }
  }
  > h4 {
    margin-top: 16px;
    font-size: 1.6em;
  }
  > p {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 2;
    @media only screen and (max-width: $spSize) {
      line-height: 1.6;
    }
    > a {
      color: $linkColor;
      word-break: break-all;
    }
  }
  img {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  > ul {
    margin-top: 16px;
    > li {
      font-size: 1.6rem;
      &:before {
        content: "・";
      }
      & + li {
        margin-top: 8px;
        @media only screen and (max-width: $spSize) {
          margin-top: 4px;
        }
      }
    }
  }
  .highlight,
  blockquote {
    margin-top: 24px;
    padding: 10px 20px;
    font-size: 1.6rem;
    line-height: 1.8;
    word-wrap: normal;
    overflow: auto;
    background-color: #f7f7f7;
  }
  .highlight {
    > code {
      color: $textColor;
      word-wrap: normal;
    }
  }
  hr {
    margin: 24px 0;
  }
  em {
    font-style: normal;
  }
}
