@import "_variable";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	-webkit-font-smoothing: antialiased;
}
main {
	display: block;
}
ul,ol {
	list-style: none;
}
.cf:after {
	content: "";
	display: block;
	clear: both;
}
a {
	text-decoration: none;
	color: $textColor;
	transition: all 0.3s;
	&:hover {
		opacity: 0.7;
	}
}
img {
	width: 100%;
	vertical-align: middle;
}
