.about
  .about-wrap.cf
    .about-img
      %img{ src: "/articles/images/me.png", alt: "my picture" }
    %div.about-desc
      %span.name
        %span moyashi
        フロントエンドエンジニア
      %p.about-text
        飲食業から2016年2月にフロントエンドエンジニアとし転職。現在はjavascript、Rubyを勉強中。

%footer.footer
  .footer-inner
    %p
      %small Copyright &copy; 2017 moyashi blog All Rights Reserved.
