%header.header.cf
  .header-inner
    %h1.site-name
      = link_to "_blank", "/"
    %nav.nav
      %ul.header-list.js-header-list.cf
        %li
          %a{ href: "/books/"}おすすめ本
      %a.menu-btn.js-menu-btn{ href: "#"}
        .block.block1
        .block.block2
        .block.block3
        .block.block4
        .block.block5
        .block.block6
        .block.block7
        .block.block8
        .block.block9
