---
pageable: true
page_name: index
page: books
---

%main.main.cf
  %h2.books-title おすすめ本
  %p.page-desc
    筆者はフロントエンドエンジニアになってから約1年が経過しました。
    %br
    その間に読んだ本の中からおすすめをご紹介します！
    %span.caution ※画像をクリックすると購入画面に飛びます
  %article.books-artiecle
    %ul.books-list
      %li.cf
        %a{ href: "https://www.amazon.co.jp/gp/product/4839928401/ref=as_li_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4839928401&linkCode=as2&tag=moyashiharusa-22&linkId=94cbf57726850071d22420a1f864892a", target: "_blank"}
          %img{ border: "0", src: "//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=JP&ASIN=4839928401&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=moyashiharusa-22"}
        .desc-wrap
          %h3.book-name ノンデザイナーズ・デザインブック [フルカラー新装増補版]
          %p.book-desc
            デザイナーではない人がデザインについて学ぶために本。
            %br
            多く書かれているのは紙媒体のことであるが、webにも役立つ技術が多い。またエンジニアとしてではなく、社会人として資料をまとめたりする際にもこの本に書いてある見せ方がとても役に立つ。
            %br
            特に4つの基本原則の近接・整列・反復・コントラストの考えは目から鱗だった。
